<header>
  <app-top-bar [drawer]="drawer"></app-top-bar>
</header>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #drawer mode="rail" opened="false">
    <mat-nav-list>
      <mat-list-item routerLink="/board">
        <mat-icon matListIcon>forum</mat-icon>
        <a matLine > Forum </a>
      </mat-list-item>
      <mat-list-item routerLink="/user">
        <mat-icon matListIcon>supervised_user_circle</mat-icon>
        <a matLine > Mitglieder </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/unread-topics">
        <mat-icon matListIcon>bubble_chart</mat-icon>
        <a matLine > Ungelesene Beiträge </a>
      </mat-list-item>
      <mat-list-item routerLink="/subscribed-topics">
        <mat-icon matListIcon>star</mat-icon>
        <a matLine > Abonnierte Beiträge </a>
      </mat-list-item>
      <div *ngIf="drawer.opened">
        <mat-divider></mat-divider>
        <a matLine routerLink="/subscribed-topics"> Impressum </a>
        <a matLine routerLink="/subscribed-topics"> Datenschutz </a>
        <a matLine routerLink="/subscribed-topics"> Kontakt </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
