.board-card {
  max-width: 400px;
  min-width: 400px;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 8px;

  img.header {
    height: 200px;
  }
  div.header{
    min-height: 10em;
    mat-icon{
      font-size: xxx-large;
      text-align: center;
    }
  }
  .header{
    mat-icon{
      margin-top: 10%;
      margin-left: 43%;
    }
  }

  .avatar-image {
    background-size: cover;
    margin-top: 12px;
    margin-right: 12px;
  }
  .details {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }
  .meta {
    overflow-x: hidden;
    padding-right: 24px;
    h3 {
      margin-top: 12px;
      margin-bottom: 4px;
    }
  }

  .description{
    min-height: 40px;
  }
}
